<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beantag.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @beantag.info %>
</p>

<%= link_to 'Edit', edit_beantag_path(@beantag) %> |
<%= link_to 'Back', beantags_path %>
