<p>ニックネーム: <%= @user.name %></p>
<p>email: <%= @user.email %></p>
<p><% if @user.profileimage.blank? %>
        <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '120', :height => 'auto' %>
    <% else %>
        <%= image_tag url_for(@user.profileimage), :width => '120', :height => 'auto' %>
    <% end %>
    </p>

<%= link_to 'Edit Profile', edit_user_registration_path %>