<div class ="container">
    <p><% if @user.profileimage.blank? %>
            <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '240', :height => 'auto' %>
        <% else %>
            <%= image_tag url_for(@user.profileimage), :width => '240', :height => 'auto' %>
        <% end %>
        </p>
    <p>ニックネーム: <%= @user.name %></p>
    <p>email: <%= @user.email %></p>
    <%= link_to 'Edit Profile', edit_user_registration_path %><br/>
    <br/>
    <br/>
    
    <p>投稿一覧</p>
    <% @user.cafe_lists.each do |cafe_list| %>
      <p><%= "店名: #{cafe_list.title} 更新日時: #{cafe_list.updated_at}" %><%= link_to "詳細", cafe_list_path(cafe_list.id) %></p>
    <% end %>
    <br/>
    <br/>
    
    <p>レビュー一覧</p>
    <% @user.reviews.each do |review| %>
        <p><%= review.title %></p>
    <% end %>
</div>