<!--<h1 class="display-1 text-white text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">Have a cup of</h1>
<h2 class="display-1 text-white text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">Coffee</h2>-->

<!--バナー写真-->
<section class="conA">
    <div class="bgImg src1"></div>
    <div class="bgImg src2"></div>
    <div class="bgImg src3"></div>
    <div class="bgImg src4"></div>
    <div class="logoh">
      <%= image_tag 'mak_logo.png', class: 'logo' %>
      <h1>KOFFIERS</h1>
      <p>カフェ検索サイト</p>
      <form class="form-inline">
          <%= form_with(url: cafe_lists_path, model: @cafe_list, local: true, method: :get) do |f| %>
            <%= f.text_field :title ,class: "form-control mr-sm-2", 
            placeholder: "店名、場所を入力"%>
            <%= f.submit 'Search', :name => nil , class: "btn btn-outline-success"%>
          <% end %>
      </form>
    </div>
</section>



<section class="conB">
  <div class="container pt-5 pb-3">
    <div class="text">
      <span class="fas fa-coffee icon"></span>
      <h2>KOFFIERSとは</h2>
      <p>カフェを検索したいとき、特別な一杯を飲みたいとき、簡単に検索できるサイトです。</p>
      <a href="about">About</a>
    </div>
  </div>
</section>
<!--おすすめカフェ　カード-->
<!--ループ書く-->


<section class="conC">
  <div class="container pt-5 pb-3">
    <h3>あなたにぴったりのカフェ</h3>
    <div class="row row-eq-height">
      <% @cafe_lists_card.each do |cafe_list| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <a href="cafe_lists/<%= cafe_list.id %>">
              <% if cafe_list.cafe_list_images.blank? %>
                <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '348', :height => 'auto' , :class => 'thumbnail' %>
              <% else %>
                <%= image_tag cafe_list.cafe_list_images[0].variant(resize_to_limit: [348, 400]), :class => 'thumbnail' %>
              <% end %>
            </a>
            <div class="card-body">
              <a href="cafe_lists/<%= cafe_list.id %>">
                <h5 class="card-title text-dark"><%= cafe_list.title %></h5>
              </a>
              <p class="card-text"><%= cafe_list.info %></p>
              <a href="cafe_lists/<%= cafe_list.id %>" class="text-dark">More</a>
            </div>
          </div>
        </div>
      <% end %>     
    </div>
    <a href="cafe_lists">もっと見る</a>
  </div>
</section>  