      <tr>
        <td>
          <a href="cafe_lists/<%= cafe_list.id %>">
            <% if !cafe_list.cafe_list_images.blank? %>
              <%= image_tag cafe_list.cafe_list_images[0].variant(resize_to_limit: [350, 350]) %>
            <% else %>
              <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '350', :height => 'auto' %>
            <% end %>
          </a>
        </td>
        <td>
          <a href="cafe_lists/<%= cafe_list.id %>" class="text-dark">
            <%= cafe_list.title %>
          </a>
        </td>
        <td><%= cafe_list.bean %>
          <div>
            <%= render partial: "cafe_lists/beantag", collection: cafe_list.beantags, as: :beantag %>
          </div>
        </td>
        <td><%= cafe_list.location %></td>
        <% if admin_signed_in? %>　<!--adminに変わる-->
        <td>
          <%= link_to 'Show', cafe_list, class: "btn btn-outline-primary" %>
          <%= link_to 'Edit', edit_cafe_list_path(cafe_list), class: "btn btn-outline-primary" %>
          <%= link_to 'Destroy', cafe_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </td>
        <% end %>
        <td>
          <%= l cafe_list.updated_at %>
        </td>
      </tr>
