      <tr>
        <td><%= cafe_list.id %></td>
        <td><%= cafe_list.title %></td>
        <td><%= cafe_list.title %></td>
        <td><%= cafe_list.bean %></td>
        <td><%= cafe_list.location %></td>
        <td>
          <%= link_to 'Show', cafe_list, class: "btn btn-outline-primary" %>
          <%= link_to 'Edit', edit_cafe_list_path(cafe_list), class: "btn btn-outline-primary" %>
          <%= link_to 'Destroy', cafe_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
