<%= form_with(model: @cafe_list, local: true) do |form| %>
  <% if @cafe_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafe_list.errors.count, "error") %> prohibited this @cafe_list from being saved:</h2>
      <ul>
        <% @cafe_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label "店名" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "所在地情報" %></br>
    <%= form.label "都道府県" %>
    <%= form.text_area :prefecture, class:"form-control" %>
    <%= form.label "市区町村" %>
    <%= form.text_area :ward, class:"form-control" %>
    <%= form.label "番地・ビル名・階数" %>
    <%= form.text_area :location, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "豆の種類" %>
    <%= form.text_area :bean, class:"form-control" %>
    <%= link_to new_beantag_path, class: "btn p-0 text-dark", remote: true do %>
      <i class = "fas fa-plus align-middle pr-1"></i><span class="align-middle">豆タグ作成</span>
    <% end %>
    <div class="field">
      <%= form.collection_check_boxes :beantag_ids, @cafe_list.beantags, :id, :name do |b| %>
        <%= b.label(class: "form-check") do %>
          <%= b.check_box(class: "form-check-input") %>
          <div class="btn btn-secondary" >
            <%= b.text %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="field form-group">
    <%= form.label "アクセス" %>
    <%= form.text_area :access, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "営業時間" %>
    <%= form.text_area :openingtime, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "定休日" %>
    <%= form.text_area :dayoff, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "駐車場" %>
    <%= form.text_area :parking, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "連絡先" %>
    <%= form.text_area :tel, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "予約" %>
    <%= form.text_area :reservation, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "環境" %>
    <%= form.text_area :envir, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "Wifi" %>
    <%= form.text_area :wifi, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "キャッシュレス決済" %>
    <%= form.text_area :cashless, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :url %>
    <%= form.text_area :url, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :info %>
    <%= form.text_area :info, class:"form-control" %>
  </div>
  
  <div class="field form-group">
    <%= form.label "画像をアップロード" %><br>
    <%= form.file_field :cafe_list_images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>  