<h1><%= @cafe_list.title %>の情報を編集</h1>

<%= form_with(model: @cafe_list, url: cafe_list_path, local: true) do |form| %>
    <%= render :partial => 'form', :locals => {:form => form, :edit_flag => true}, post: @cafe_lists %>
<% end %>



<%= link_to 'Show', @cafe_lists %> |
<%= link_to 'Back', cafe_lists_path %>