<h1>Cafes</h1>

  <table class="table">
    <thead>
      <nav class="navbar navbar-light bg-light">

          <%= form_with(url: cafe_lists_path, model: @cafe_list, local: true, method: :get) do |f| %>
            <%= f.text_field :title %>
            <%= f.text_field :bean %>
            <%= f.text_field :location %>
            <%= f.text_field :image %>
            <%= f.submit 'Search', :name => nil %>
          <% end %>
                    
          <%= link_to 'Clear', cafe_lists_path %>
          
      </nav>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Bean</th>
        <th scope="col">Location</th>
        <% if user_signed_in? %>
        <th scope="col">Action</th>
        <% end %>
        <th scope="col">Latest Update</th>
      </tr>
    </thead>
    <tbody>
      <%= render @cafe_lists %>
    </tbody>
  </table>
<br>
<% if user_signed_in? %>
  <%= link_to 'カフェを登録', new_cafe_list_path %>
<% else %>
  <%= link_to 'カフェを登録', new_user_session_path %>
<% end %>
