<h1>Cafes</h1>
#

  <table class="table">
    <thead>
      <nav class="navbar navbar-light bg-light">
        <%= form_with url:'/cafe_lists', method: :get, local: true do |f| %>
          <%= f.label :q, 'Search title' %>
          <%= f.text_field :q %>
          <%= f.submit 'Search' %> <%= link_to 'Clear', cafe_lists_path %>
        <% end %>
      </nav>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Bean</th>
        <th scope="col">Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @cafe_lists %>
    </tbody>
  </table>
<br>
<%= link_to 'New Cafe?', new_cafe_list_path %>
