
<section class="cafe-list">
  <table class="table">
    <thead>
      <nav class="navbar navbar-light bg-light">

          <%= form_with(url: cafe_lists_path, model: @cafe_list, local: true, method: :get) do |f| %>
            <%= f.text_field :title %>
            <%= f.text_field :bean %>
            <%= f.text_field :location %>
            <%= f.submit 'Search', :name => nil %>
          <% end %>
                    
          <%= link_to 'Clear', cafe_lists_path %>
          
      </nav>
      <% if admin_signed_in? %>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Bean</th>
        <th scope="col">Location</th>
        <th scope="col">Action(admin)</th>
        <th scope="col">Latest Update</th>
      </tr>
    </thead>
    <tbody>
      <%= render @cafe_lists %>
    </tbody>
  </table>
  <%= paginate(@cafe_lists) %>
  
  <% else %>
  
   <div class="container mt-5">
    <div class="row row-eq-height">
      <% @cafe_lists.each do |cafe_list| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <a href="cafe_lists/<%= cafe_list.id %>">
              <% if cafe_list.cafe_list_images.blank? %>
                <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '348', :height => 'auto' , :class => 'card-img-top'%>
              <% else %>
                <%= image_tag cafe_list.cafe_list_images[0].variant(resize_to_limit: [348, 400]), :class => 'card-img-top' %>
              <% end %>
            </a>
            <div class="card-body">
              <a href="cafe_lists/<%= cafe_list.id %>">
                <h5 class="card-title text-dark"><%= cafe_list.title %></h5>
              </a>
              <p class="card-text line-clamp"><%= cafe_list.info %></p>
              <a href="cafe_lists/<%= cafe_list.id %>" class="text-dark">More</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  
  <div class="container">
    <div class= "page">
      <%= paginate(@cafe_lists) %></div>
      <% end %>
      <br>
      <div class="new-cafe">
      <% if user_signed_in? %>
        <%= link_to 'カフェを登録', new_cafe_list_path %>
      <% elsif admin_signed_in?%>
      <% else %>
        <%= link_to 'ログインし、カフェを登録', new_user_session_path %>
      <% end %>
      </div>
  </div>
<br>  
</section>