<h1>Cafes</h1>

  <table class="table">
    <thead>
      <nav class="navbar navbar-light bg-light">

          <%= form_with(url: cafe_lists_path, model: @cafe_list, local: true, method: :get) do |f| %>
            <%= f.text_field :title %>
            <%= f.text_field :bean %>
            <%= f.text_field :location %>
            <%= f.text_field :image %>
            <%= f.submit 'Search', :name => nil %>
          <% end %>
                    
          <%= link_to 'Clear', cafe_lists_path %>
          
      </nav>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Bean</th>
        <th scope="col">Location</th>
        <% if admin_signed_in? %> <!-- admin-->
        <th scope="col">Action(admin)</th>
        <% end %>
        <th scope="col">Latest Update</th>
      </tr>
    </thead>
    <tbody>
      <%= render @cafe_lists %>
    </tbody>
  </table>
  <%= paginate(@cafe_lists) %>
  
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'カフェを登録', new_cafe_list_path %>
<% else %>
  <%= link_to 'ログインし、カフェを登録', new_user_session_path %>
<% end %>
