<h3><%= @cafe_list.title %></h3>
<div class="row">
    <div class="col-md-6 offset-md-3">
      <% if @cafe_list.cafe_list_images[0].blank? %>
        <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '500', :height => 'auto', :class => 'd-block mx-auto' %>
      <% else %>
        <%= image_tag @cafe_list.cafe_list_images[0].variant(resize_to_limit: [500, 500]), :class => 'd-block mx-auto' %>
      <% end %>
      </br>
    </div>
</div>

<ul class="list-group">
      <div class="col-md-6 offset-md-3">
        About <%= safe_join(@cafe_list.title.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        店名: <%= safe_join(@cafe_list.title.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        住所: <%= @cafe_list.prefecture %><%= @cafe_list.ward %><%= @cafe_list.location %></li>
        <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @cafe_list.title %>" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></li>
        <li class="list-group-item">
        アクセス: <%= safe_join(@cafe_list.access.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        営業時間: <%= safe_join(@cafe_list.openingtime.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        定休日: <%= safe_join(@cafe_list.dayoff.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        豆の種類: <%= safe_join(@cafe_list.bean.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        店の特色: <%= safe_join(@cafe_list.info.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        連絡先: <%= safe_join(@cafe_list.tel.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        予約: <%= safe_join(@cafe_list.reservation.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        環境: <%= safe_join(@cafe_list.envir.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        Wifi: <%= safe_join(@cafe_list.wifi.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        駐車場: <%= safe_join(@cafe_list.parking.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        キャッシュレス決済: <%= safe_join(@cafe_list.cashless.split("\n"),tag(:br)) %></li>
        <li class="list-group-item">
        Url: <a href="<%= @cafe_list.url %>" class="text-dark"><%= safe_join(@cafe_list.url.split("\n"),tag(:br)) %></a></li>
        <li class="list-group-item">
        Last Update at <%= l @cafe_list.updated_at %> <!--by <#%= @cafe_list.user.name %>--></li>
      </div>
</ul>

<div class="row">
  <div class="col-md-6 offset-md-3">
    最新の口コミ<br />
    
    <% if !@review.blank? %>
      <div class="row reviews">

        <div class="col-md-6 mb-3">
          <div class=" reviews-content">
  
            <%= @review %>
            <h4 class="mb-3">評価：<%#= @review.rate %>点 | 
            <%# if @review.title.blank? %> no title
            <%# else %>
            <%#= @review.title %>
            <%# end %></h4>
  
            <!--星評価-->

          <!--/星評価-->
            <p><%#= @review.content %></p>
          </div>
        </div>
      </div>
    <% end %>  
    
    <%= link_to 'More', cafe_list_reviews_path(@cafe_list) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    Gallery:
  </div>
</div>

<!--画像カルーセル-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  
      
  <div class="carousel-inner col-md-6 offset-md-3">
      <div class="carousel-item active">
        <% if @cafe_list.cafe_list_images[0].blank? %>
          <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '500', :height => 'auto', :class => 'd-block mx-auto' %>
        <% else %>
          <%= image_tag @cafe_list.cafe_list_images[0].variant(resize_to_limit: [500, 500]), :class => 'd-block mx-auto' %>
        <% end %>
      </div>
      <div class="carousel-item col-md-6 offset-md-3">
        <% if @cafe_list.cafe_list_images[1].blank? %>
          <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '500', :height => 'auto', :class => 'd-block mx-auto' %>
        <% else %>
          <%= image_tag @cafe_list.cafe_list_images[1].variant(resize_to_limit: [500, 500]), :class => 'd-block mx-auto' %>
        <% end %>
      </div>
      <div class="carousel-item col-md-6 offset-md-3">
        <% if @cafe_list.cafe_list_images[2].blank? %>
          <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '500', :height => 'auto', :class => 'd-block mx-auto' %>
        <% else %>
          <%= image_tag @cafe_list.cafe_list_images[2].variant(resize_to_limit: [500, 500]), :class => 'd-block mx-auto' %>
        <% end %>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% if @cafe_list.user == current_user %>
  <td><%= link_to '編集', edit_cafe_list_path(@cafe_list) %></td><br/>
  <td><%= link_to '削除', @cafe_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% elsif admin_signed_in? %>
  <td><%= link_to '編集', edit_cafe_list_path(@cafe_list) %></td><br/>
  <td><%= link_to '削除', @cafe_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</br>
<%= link_to '戻る', cafe_lists_path %>