<h1>beans</h1>

<img src="https://bibium.com/wp-content/uploads/2019/02/bibium_beanbelt.png" class="img-fluid" alt="Responsive image">

<section class="delighter" data-delighter>
    <div class="container">
        <h2 class= "left delighter" data-delighter>Region</h2>
        <div class="brazil">
            <div class="box">
                <h2>Brazil</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png" class="img-fluid" alt="Responsive image">
            </div>
            <p class="bean-disc">
                Brazil is the largest exporter in the world, supplying approximately 60% of the world's coffee - this is due in part to the sheer size of the country. While Brazil is a prolific exporter, it's average elevation for coffee production is only about 1,100 meters. This qualifies most of it as High Grown Coffee (900-1,200 meters), but some crops certainly fall below that threshold.
        
                Many high quality espresso blends are made from either Bourbon Santos or Brazil Cerrado due to the ability of Brazilian coffees to take dark roasts without turning overly bitter. This is due in part to the mild, balance flavour of Brazilian coffee beans.
            </p>
            <div class="card">
                brazil.tagのカフェを表示
                <% @cafe_lists[:brazil].each do |cafe_list| %>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                          <a href="cafe_lists/<%= cafe_list.id %>">
                            <% if cafe_list.cafe_list_images.blank? %>
                              <%= image_tag 'https://chugakujuken.net/wp-content/uploads/2018/12/noimage.png', :width => '348', :height => 'auto' , :class => 'thumbnail' %>
                            <% else %>
                              <%= image_tag cafe_list.cafe_list_images[0].variant(resize_to_limit: [348, 400]), :class => 'thumbnail' %>
                            <% end %>
                          </a>
                          <div class="card-body">
                            <a href="cafe_lists/<%= cafe_list.id %>">
                              <h5 class="card-title text-dark"><%= cafe_list.title %></h5>
                            </a>
                            <p class="card-text line-clamp"><%= cafe_list.info %></p>
                            <a href="cafe_lists/<%= cafe_list.id %>" class="text-dark">More</a>
                          </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="ethopia">
            <div class="box">2.Ethopia</div>
                <p class="bean-disc">
                Brazil is the largest exporter in the world, supplying approximately 60% of the world's coffee - this is due in part to the sheer size of the country. While Brazil is a prolific exporter, it's average elevation for coffee production is only about 1,100 meters. This qualifies most of it as High Grown Coffee (900-1,200 meters), but some crops certainly fall below that threshold.
        
                Many high quality espresso blends are made from either Bourbon Santos or Brazil Cerrado due to the ability of Brazilian coffees to take dark roasts without turning overly bitter. This is due in part to the mild, balance flavour of Brazilian coffee beans.
            </p>
        </div>
        <div class="box">3.Kenya</div>
    </div>
</section>